<ul>
  <%= form_for @ingredient do |f| %>
    <li>Ingredient Name <%= f.text_field :name %></li>
    <li>Food Group      <%= f.text_field :food_group %></li>
    <li>Image           <%= f.text_field :image %></li>
    <%= f.submit %>
  <% end %>
</ul>
