<h1>Ingredients</h1>
<%= button_to "Add Ingredient", ingredient_new_path, :method => :get %>
<ul>
<% @ingredients.each do |ingredient| %>
  <li>Ingredient Name: <%= link_to ingredient.name, ingredient_path(ingredient) %></li>
  <li>Food Group     : <%= ingredient.food_group %></li>
  <%= button_to "Add to Supplies", { :controller => "supplies", :action => "create", :'add[ingredient]' => ingredient.name, :remote => true }, :class => "ajax_trigger" %>
  <%= button_to "Edit", ingredient_path(ingredient), :method => :get %>
  <%= button_to "Delete", ingredient, :method => :delete %><br/>
<%end%>
</ul>

<div id="response_data">
