<h1>Ingredients</h1>
<%= button_to "Add Ingredient", ingredient_new_path, :method => :get %>
<div class="ingredients">
  <% @ingredients.each do |ingredient| %>
    <div class="container">
      <div class="ingredient" style="background-image: url(<%=ingredient.image%>)">
        <h2><%= link_to ingredient.name, ingredient_path(ingredient) %></h2>
        <p><%= ingredient.food_group %></p>
        <%=ingredient.image%>
      </div>
      <div class="button-panel">
        <%= button_to "Edit", ingredient_edit_path(ingredient), :method => :get %>
        <%= button_to "Delete", ingredient, :method => :delete %>
      </div>
    </div>
  <%end%>
</div>
