<h1>Search</h1>
<div id="search">
  <%= form_for(@supply, remote: true, html: {class: "search-bar"}) do |f| %>
    <%= hidden_field :supply, :id %>
    <%= f.search_field :name, class: "typeahead", placeholder: "Enter Ingredient", role: "search" %>
    <%= f.submit "Add" %>
  <% end %>

  <ul id="supplies">
    <%= render partial: "supply", collection: @supplies %>
  </ul>
</div>
