<!DOCTYPE html>
<html>
<head>
  <title>OnionBelly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/navigation' %>
  <div id="messages"><%= render 'layouts/messages' %></div>

  <main>
    <!-- Status Messages -->

    <!-- Main content -->
    <div id="content">
      <%= yield %>
    </div>
  </main>
</body>

</html>
